@use '@styles/theme' as *;

.toast {
    padding: $pad-md $pad-lg;
    border-radius: $border-radius-xs;
    margin: $pad-sm;
    font-size: $fs-sm;
    box-shadow: 0 2px 6px $shadow-md;
    transition: opacity 0.3s ease;
}

.default {
    background-color: var(--bg-dark);
    color: var(--text);
}

.info {
    background-color: var(--info);
    color: var(--text);
}

.success {
    background-color: var(--success);
    color: var(--text);
}

.warning {
    background-color: var(--warning);
    color: var(--text);
}

.error {
    background-color: var(--error);
    color: var(--text);
}
