@use '@styles/design.scss' as *;

// avoid layout shifts on active nav items
$nav-item-min-width: 5rem !default;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    padding: 0 $pad-lg;
    background: var(--bg);
    color: var(--text);

    container-name: headerMain;
    container-type: inline-size;
}

.logoHeader {
    position: relative;
    top: 0.5rem;
    margin-right: $pad-lg;
    svg path {
        fill: var(--text);
    }
}

.navGroup {
    // shrink-wrap on large screens
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: $pad-lg;
}

.navigation {
    display: flex;
    align-items: center;
    gap: $pad-lg;
}

.navItem {
    display: inline-block;
    min-width: $nav-item-min-width;
    text-decoration: none;
    color: var(--text);
    font-size: $fs-lg;
    font-weight: $fw-reg;
    text-align: center;
}

.navItemActive {
    @extend .navItem;
    color: var(--primary);
    font-weight: $fw-bold;
    transition:
        color 0.2s ease,
        font-weight 0.2s ease;
}

@container headerMain (max-width: 650px) {
    .logoHeader {
        display: none;
    }

    .navGroup {
        // become full-width block-flex so space-between spans the header
        display: flex;
        width: 100%;
    }

    .navigation {
        gap: $pad-md;
    }
}
