@use '../../styles/design.scss' as *;

.logoHeader {
    text-decoration: none;
    font-size: 2.2rem;
    color: var(--primary);
    font-weight: $fw-bold;
    &:hover {
        color: var(--secondary);
    }
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    height: 5rem;
    margin: 0 $pad-lg;
    color: var(--text);
    background: var(--bg);
    container-name: headerMain;
    container-type: inline-size;
}

.navigation {
    display: flex;
    gap: $pad-xl;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navItem {
    text-decoration: none;
    color: var(--text);
    font-size: $fs-lg;
    font-weight: $fw-reg;
}

.navItemActive {
    @extend .navItem;
    color: var(--primary);
    font-weight: $fw-bold;
    transition:
        color 0.2s ease,
        font-weight 0.2s ease;
}

@container headerMain (max-width: 650px) {
    .logoHeader {
        display: none;
    }
    .navigation {
        left: 5%;
        transform: translateX(-5%);
        gap: $pad-md;
    }
}
