@use '../../styles/design.scss' as *;

//responsible to avoid layout shifts against active nav items due to font weight changes
$nav-item-min-width: 5rem !default;

.logoHeader {
    text-decoration: none;
    font-size: 2.2rem;
    color: var(--primary);
    font-weight: $fw-bold;

    &:hover {
        color: var(--secondary);
    }
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    padding: 0 $pad-lg;
    color: var(--text);
    background: var(--bg);
    container-name: headerMain;
    container-type: inline-size;
}

.navigation {
    display: flex;
    align-items: center;
    gap: $pad-lg;
}

.navItem {
    display: inline-block;
    text-align: center;
    min-width: $nav-item-min-width;
    text-decoration: none;
    color: var(--text);
    font-size: $fs-lg;
    font-weight: $fw-reg;
}

.navItemActive {
    @extend .navItem;
    color: var(--primary);
    font-weight: $fw-bold;
    transition:
        color 0.2s ease,
        font-weight 0.2s ease;
}

@container headerMain (max-width: 650px) {
    .logoHeader {
        display: none;
    }
    .navigation {
        gap: $pad-md;
    }
    .navItem {
        font-size: $fs-lg;
    }
}
