@use './_theme.scss' as *;

/* 1. Universal Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 2. Body and Root Setup */
body {
    font-family: $font-family-base;
    font-size: $fs-base;
    background-color: var(--bg);
    color: var(--text);
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

/* Apply scrollbar styles globally */
body,
* {
    scrollbar-width: thin;
    scrollbar-color: var(--primary) transparent;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary);
        border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
}

/* 3. Anchor Tags */
a {
    color: var(--info);
    text-decoration: none;
}

/* 4. Inputs */
input,
textarea,
select {
    font-family: inherit;
    background-color: var(--bg);
    color: var(--text);
    border: 1px solid var(--border);
    border-radius: var($border-radius-sm);
    padding: var($pad-xs);
}

#toast-root {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1000;
    pointer-events: none;
}

/* Ensure individual toasts can still receive pointer events if needed */
#toast-root > div {
    pointer-events: all;
    margin-bottom: 0.5rem;
}
