@use '@styles/theme' as *;
@use 'sass:map';

@mixin responsiveUp($breakpoint) {
    $value: map.get($breakpoints, $breakpoint);

    @if $value {
        @media (min-width: $value) {
            @content;
        }
    }
}

@mixin responsiveDown($breakpoint) {
    $value: map.get($breakpoints, $breakpoint);

    @if $value {
        @media (max-width: $value) {
            @content;
        }
    }
}

@mixin responsiveFont($mobile, $desktop) {
    font-size: $mobile;

    @media screen and (min-width: 768px) {
        font-size: $desktop;
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin respond($size) {
    @media (min-width: map-get($breakpoints, $size)) {
        @content;
    }
}
