@use '@styles/theme' as *;

.wrapper {
    display: grid;
    grid-template-columns: minmax(0px, 7fr) minmax(320px, 3fr);
    width: 100%;
    height: 100%;
    container-name: mainWrapper;
    container-type: inline-size;
    overflow: hidden;
}

.imageLayer {
    grid-column: 1;
    background-image:
        url('@assets/face_abstract_web_dark.png'), linear-gradient(to top, var(--bg-light), var(--bg-dark));
    background-size: contain;
    transform: scale(1.1);
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--bg-dark);
    z-index: 0;
}

.iconWrapper {
    margin-top: $pad-xl;
}

.contentLayer {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    z-index: 1;
    color: var(--text);
    gap: $pad-xl;
    padding: $pad-xl;
    background-color: var(--bg-light);
    box-shadow: var(--shadow-md);
    overflow: auto;
    container-name: contentWrapper;
    container-type: inline-size;
}

@container mainWrapper (max-width: 1200px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
    }
    .contentLayer {
        padding: inherit 0;
    }
    .compactForm {
        padding: 0;
    }
}

@container mainWrapper (max-width: 650px) {
    .imageLayer {
        display: none;
    }
    .contentLayer {
        grid-column: 1 / -1; // spans full width
    }
}

@container contentWrapper (max-width: 350px) {
    .contentLayer .iconWrapper {
        gap: $pad-lg;
    }
}
