@use '@styles/theme' as *;

.toast {
    position: fixed;
    bottom: $pad-md;
    right: $pad-md;
    background-color: var(--bg-light);
    color: var(--text);
    padding: $pad-md $pad-lg;
    border-radius: $border-radius-md;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    z-index: 999;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
