@use '@styles/theme' as *;

.form {
    display: flex;
    flex-direction: column;
    gap: $pad-md;

    label {
        font-weight: $fw-bold;
    }

    input,
    textarea {
        max-width: 100%;
        padding: $pad-sm;
        border: 1px solid var(--border);
        border-radius: $border-radius-xs;
    }

    textarea {
        min-height: 10rem;
        max-height: 15rem;
    }
}
