@use '@styles/theme' as *;

.badge {
    padding: $pad-xs $pad-sm;
    border-radius: $border-radius-lg;
    font-size: $fs-sm;
    font-weight: $fw-reg;
    white-space: nowrap;
    color: #fff;
}

.info {
    background-color: var(--info);
}
.success {
    background-color: var(--success);
}
.warning {
    background-color: var(--warning);
}
.error {
    background-color: var(--error);
}
