@use '@styles/design.scss' as *;

// height (minus)value - accounts for header and footer height
.mainContainer {
    text-align: center;
    background: var(--bg-dark);
    height: calc(100vh - 7rem);
    font-size: $fs-lg;
    color: var(--text);
}
