@use '@styles/design.scss' as *;

.mainWrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 10rem;
    height: calc(100% - 7rem);
    width: 80%;

    // @include responsiveDown(md) {
    //     .bubbleWrap {
    //         display: none;
    //     }
    // }
}

.introduction {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: $pad-sm;
    color: var(--text);
}

.title {
    @include responsiveFont($fs-h3, $fs-h1);
}

.btnWrapper {
    display: flex;
    justify-content: center;
    gap: $pad-md;
    padding: $pad-md;
}
