@use '@styles/design.scss' as *;

.mainWrapper {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    margin: auto;
    gap: 8rem;
    height: calc(100% - 7rem);
    width: 80%;

    @include responsiveDown(lg) {
        gap: 2rem;
        // .bubbleWrap {
        //     display: none;
        // }
    }
}

.introduction {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: $pad-sm;
    color: var(--text);

    p {
        color: var(--text-muted);
    }
}

.title {
    @include responsiveFont($fs-h3, $fs-h1);
}

.btnWrapper {
    display: flex;
    justify-content: center;
    gap: $pad-md;
    padding: $pad-md;
}
