@use '@styles/theme' as *;

.tooltip {
    position: fixed;
    background: #333;
    color: #fff;
    padding: $pad-sm $pad-md;
    border-radius: $border-radius-xs;
    font-size: $fs-sm;
    white-space: nowrap;
    z-index: 1000;
}

@media (prefers-reduced-motion: reduce) {
    .tooltip {
        transition: none;
    }
}

.arrow {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #333;
    transform: rotate(45deg);
}

/* Position-specific adjustments */
.arrow[data-position='top'] {
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.arrow[data-position='bottom'] {
    top: -4px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.arrow[data-position='left'] {
    right: -4px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.arrow[data-position='right'] {
    left: -4px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
