@use '@styles/design.scss' as *;

.container {
    max-width: 70%;
    margin: 0 auto;
    padding: 2rem 1rem;
    color: var(--text);
}

.intro {
    text-align: center;
    margin-bottom: 4rem;

    h1 {
        font-size: $fs-h1;
        margin-bottom: $pad-sm;
        color: var(--text);
    }

    p {
        font-size: $fs-lg;
        color: var(--text-muted);
    }
}

.section {
    display: flex;
    align-items: center;
    text-align: start;
    gap: 2rem;
    margin-bottom: 4rem;
    transition: transform 0.3s ease;

    &.reverse {
        flex-direction: row-reverse;
    }

    .content {
        flex: 1;

        h2 {
            font-size: $fs-h2;
            margin-bottom: $pad-md;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -5px;
                width: 50px;
                height: 4px;
                background: var(--highlight);
            }
        }

        p {
            font-size: $fs-lg;
            line-height: $lh-base;
            color: var(--text-muted);
        }
    }

    .image {
        flex: 1;
        height: 300px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.01);
        }
    }
}

@media (max-width: 768px) {
    .intro {
        h1 {
            font-size: $fs-h2;
        }

        p {
            font-size: $fs-md;
        }
    }

    .section {
        font-size: $fs-h3;
        flex-direction: column;
        margin-bottom: 0;

        &.reverse {
            flex-direction: column;
        }

        .image {
            width: 100%;
            margin-top: $pad-md;
        }
    }
}
